<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="10 seconds" debug="true">
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!--[%date] [%thread] %-5level [%C] [%X{transactionId}] - [%X{serviceId}] [%X{protocol}] [%X{logType}] - %msg%n-->
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date{yyyy-MM-dd HH:mm:ss:SSS} [%t] %-5level %logger{40} %X{transactionId} - %msg%n</pattern>
		</layout>
	</appender>

    <logger name="com.iboxpay" additivity="false">
        <appender-ref ref="stdout" />
    </logger>
    
    <logger name="org.apache" additivity="false" level="INFO">
        <appender-ref ref="stdout" />
    </logger>

	<root level="DEBUG">
	</root>
</configuration>